/* #id es para un id
 * .class es para una class
 * atribute para atributos Ej:button, p ...
*/
#lienzo {
    border: 1px solid black;
}

#page {
    width: 1800px;
    margin: 0 auto;
}

#menu {
    width: 400px;
    float: right;
}
